extends layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Blank page
			small Control panel
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					| Home
			li.active Blank page
	// Main content
	section.content
	// /.content
block javascript

