extends ../perfil
block content_sub
	section.content
		.mailbox.row
			.col-xs-12
				.box.box-solid
					.box-body
						.row
							.col-md-3.col-sm-4
								//
									BOXES are complex enough to move the .box-header around.
									This is an example of having the box header within the box body
								.box-header
									h3.box-title Recompensas de curacion : Proximamente