extends ../perfil
block content_sub
	.menu_perfil_2.row
		.col-md-12
			a#menu_2_url_1.menu-item-active(href="", style="width:150px;padding-left:50px;")
				span General
			a#menu_2_url_2.menu-item(style="width:150px;padding-left:22px;" href="")
				span Automatización				
	section.content
		.mailbox.row
			.col-xs-12
				.box.box-solid
					.box-body
						.row
							.col-md-12
								center
									h4.box-title Proximamente nos expandiremos, mientras puede disfrutar de la automatización

block javascript_3_capa
	// JS - page perfil_configuracion
	script(src='/js/pages/perfil_extends/perfil_configuracion.js')